<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <br><br>
      <div>
     	  <a routerLink="/registration" class="float-right login mr-2">Register To Vote</a>
     	  <br>
     	  <a routerLink="/checkStatus" class="float-right login mr-2">Registration Status</a>
     	   <br>
     	  <a routerLink="/findBooth" class="float-right login mr-2">Find Your Booth</a>
      </div>
      <div class="col-md-9">
        <app-post-tile [posts]="posts"></app-post-tile>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>
</div>